﻿<div class="modal-header">
    <h1>Project Form</h1>
</div>

<div class="modal-body">
    <form name="projectForm" novalidate role="form" class="form-horizontal">
        <input type="hidden" ng-bind="editableProject.Id" />
        <fieldset>
            <legend>Project Information</legend>
            <div class="form-group has-error" show-errors>
                <label for="Name" class="col-sm-3 control-label"></label>
                <div class="col-sm-9">
                    <input type="text" id="Name" 
                           ng-model="editableProject.Name" class="form-control" ng-required="shouldShowFullName()" />
                    <span class="help-block hide">Project name is required</span>
                </div>
            </div>
        </fieldset>
    </form>
</div>

<div class="modal-footer">
    <div class="col-sm-offset-3 col-sm-9">
        <input type="button" class="btn btn-default" value="Cancel" ng-click="cancel()" />
        <input type="submit" class="btn btn-primary" value="Submit" ng-click="submit()" />
    </div>
</div>