﻿
<input type="button" class="btn btn-primary" value="Launch Project Form" ng-click="addNewProject()" />
<p></p>
<input type="button" class="btn btn-primary" value="Edit Project Form" ng-click="editProject(123)" />