﻿@{
    ViewBag.Title = "Project Angular SPA";
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="bugFixRocksApp">
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/bundles/spaproject/style")
    @Scripts.Render("~/bundles/spaproject/script")
</head>
<body class="container">
    <h1>Project SPA</h1>
    <div ng-view>
    </div>
</body>
</html>
