﻿@model BugFixRocks.Models.Team

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete Confirmation</h2>

<h3>Are you sure you want to delete team "@Html.DisplayFor(model => model.Name)"?</h3>
<div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Proceed Delete" class="btn btn-default" /> 
            <button onclick="location.href='@Url.Action("Index", "Teams")';return false;" class="btn btn-default">Back to List</button>
        </div>
    }
</div>
